# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class



.coverage
cov_annotate
.env
venv/
env/

# Archivos de logs
*.log

# Configuración de editor
.vscode/
.idea/

# Archivos temporales
*.tmp
*.swp

nul